location:
  source_directories:
    - /source

  repositories:
    - path: /var/lib/borgmatic/repository/default
      label: local

  exclude_patterns:
      - /opt/minecraft/server/logs
      - /opt/minecraft/server/crash-reports
      - /opt/minecraft/server/backups
      - /opt/minecraft/server/world/playerdata/session.lock
      - /opt/minecraft/server/world/session.lock
      - /opt/minecraft/server/world_nether/session.lock
      - /opt/minecraft/server/world_the_end/session.lock

retention:
  keep_daily: 7
  keep_weekly: 4
  keep_monthly: 6
